@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  border: none;
}

.admin__dashboard {
  display: grid;
  grid-template-columns: 255px 1fr;
  transition: 0.3s;
}

.admin__dashboard.mini__sidebar {
  grid-template-columns: 75px 1fr;
}

body.light {
  color: red;
}
